html {
	background: #222222;
	background-color: #222222;
}

code {
	vertical-align: text-bottom;
}

.varA {
	border-bottom: 3px solid #0984e3;
}

.varB {
	border-bottom: 3px solid #0984e3;
}

.varC {
	border-bottom: 3px solid #0984e3;
}

.varD {
	border-bottom: 3px solid #0984e3;
}

.varE {
	border-bottom: 3px solid #0984e3;
}

.varF {
	border-bottom: 3px solid #0984e3;
}

.varG {
	border-bottom: 3px solid #0984e3;
}

.varH {
	border-bottom: 3px solid #0984e3;
}

.jumbotron {
	margin-left: 15%;
	margin-right: 15%;
	padding: 1.5rem 1.5rem;
}

.modal-lg {
	max-width: 1000px;
}

.textBlock {
	font-size: 0.8vw;
	display: inline-flex;
	width: 5.8vw;
	margin-top: 5px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.5);
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
	justify-content: center;
}

.fitContent {
	width: fit-contents;
}

.lowPadding {
	padding: 0.5rem;
	padding-left: 10px;
}

.blinking {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}